<dl class="summary-list">
  @if (complianceStatus) {
    <div class="summary-list__row">
      <dt class="summary-list__key">Compliance status</dt>
      <dd class="summary-list__value">
        <app-status-tag [variant]="complianceStatus" />
      </dd>
    </div>
  }
  @for (row of rows; track row.key) {
    <div class="summary-list__row">
      <dt class="summary-list__key">{{ row.key }}</dt>
      <dd class="summary-list__value">
        {{ row.value }}
        @if (row.downloadHref) {
          <a [href]="row.downloadHref" class="summary-list__download">
            <app-icon name="download" [size]="24" />
            Download
          </a>
        }
      </dd>
    </div>
  }
</dl>
