.assessment-row {
  display: flex;
  align-items: center;
  background: var(--color-bg-subtle);
  border-left: 1px solid var(--color-neutral-400);

  &--last {
    border-bottom: 1px solid var(--color-neutral-400);
    border-bottom-left-radius: var(--radius-sm);
    border-bottom-right-radius: var(--radius-sm);

    .assessment-row__edge {
      border-bottom: 1px solid var(--color-neutral-400);
      border-bottom-left-radius: var(--radius-sm);
    }
  }

  &__edge {
    width: 24px;
    height: 48px;
    flex-shrink: 0;
    border-left: 1px solid var(--color-neutral-400);
  }

  &__number,
  &__text,
  &__status {
    height: 48px;
    display: flex;
    align-items: center;
    padding: var(--sx-2) var(--sx-4) var(--sx-2) var(--sx-2);
    font-size: var(--font-size-md);
    color: var(--color-text-default);
    border-bottom: 1px solid var(--color-neutral-300);
  }

  &__number {
    width: 70px;
    flex-shrink: 0;
  }

  &__text {
    flex: 1;
  }

  &__status {
    border-right: 1px solid var(--color-neutral-400);
    min-width: 120px;
  }
}
